<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin page</title>

    <style>
        .nav-link {
            text-align: left;
            border: none;
            background: none;
            color: inherit;
            padding: 0.5rem 1rem;
        }

        .nav-link:hover {
            background-color: #0028ff;
        }
    </style>

    <style>
        .nav-link.active {
            background-color: #0028ff;
            color: white;
        }
    </style>
</head>
<body>

<div class="bg-dark text-white py-2 pl-3 pr-3 d-flex align-items-center justify-content-between">
    <span style="font-size: 20px;">
        <strong>
            <a id="shapka">
                <!--EMAIL-->
            </a>
        </strong>
        <span> with roles: </span>
        <span id="kepka">
            <!--ROLES-->
        </span>
    </span>
    <a href="/logout">Logout</a>
</div>
<br>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-2">
            <nav class="nav flex-column">
                <button class="nav-link active" type="button" data-href="/admin">Admin</button>
                <button class="nav-link" type="button" data-href="/admin/user">User</button>
            </nav>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const buttons = document.querySelectorAll('.nav-link');
                    buttons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            buttons.forEach(function (btn) {
                                btn.classList.remove('active');
                            });
                            this.classList.add('active');

                            const href = this.getAttribute('data-href');
                            if (href) {
                                window.location.href = href;
                            }
                        })
                    });
                });
            </script>
        </div>
        <div class="col-10 pl-3">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="/admin" aria-current="true">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/new" aria-current="false">New User</a>
                </li>
            </ul>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody id="pechka">

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="editModal"
     aria-labelledby="EditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
            </div>
            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <form id="formEdit">
                        <div class="modal-body ">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="edit-id"><b>ID</b></label>
                                        <input class="form-control"
                                               type="text"
                                               name="id"
                                               id="edit-id"
                                               readonly/>
                                        <label for="edit-name"><b>Name</b></label>
                                        <input class="form-control"
                                               type="text"
                                               name="name"
                                               id="edit-name"/>
                                        <label for="edit-surname"><b>Surname</b></label>
                                        <input class="form-control"
                                               type="text"
                                               name="surname"
                                               id="edit-surname"/>
                                        <label for="edit-email"><b>Email</b></label>
                                        <input class="form-control"
                                               type="text"
                                               name="email"
                                               id="edit-email"/>
                                        <label for="edit-password"><b>Password</b></label>
                                        <input class="form-control"
                                               type="password"
                                               name="password"
                                               id="edit-password"
                                               autocomplete="off"/>
                                        <label for="edit-age"><b>Age</b></label>
                                        <input class="form-control"
                                               type="number"
                                               name="age"
                                               id="edit-age"/>
                                        <label for="edit-roles"><b>Role</b></label>
                                        <select multiple class="form-control"
                                                size="2"
                                                name="roles" required
                                                id="edit-roles">
                                            <option value="1">ADMIN</option>
                                            <option value="2">USER</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"
                                    class="btn btn-secondary"
                                    id="editClose"
                                    data-dismiss="modal">Close
                            </button>
                            <input type="submit" class="btn btn-primary"
                                   value="Edit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="deleteModal"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete user</h5>
            </div>

            <div class="modal-body text-center">
                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                        <form id="formDelete">
                            <div class="mb-3">
                                <label for="delete-id"><b>ID</b></label>
                                <input class="form-control"
                                       type="text"
                                       name="id" id="delete-id"
                                       disabled>
                                <label for="delete-name"><b>First
                                    name</b></label>
                                <input class="form-control"
                                       name="name"
                                       type="text"
                                       id="delete-name"
                                       disabled/>
                                <label for="delete-surname"><b>Last
                                    name</b></label>
                                <input class="form-control"
                                       name="surname"
                                       type="text"
                                       id="delete-surname"
                                       disabled/>
                                <label for="delete-email"><b>Email</b></label>
                                <input class="form-control"
                                       name="email"
                                       type="text"
                                       id="delete-email"
                                       disabled/>
                                <label for="delete-password"><b>Password</b></label>
                                <input class="form-control"
                                       name="password"
                                       type="text"
                                       id="delete-password"
                                       disabled/>
                                <label for="delete-age"><b>Age</b></label>
                                <input class="form-control"
                                       name="age"
                                       type="number"
                                       id="delete-age"
                                       disabled/>
                                <label for="delete-roles"><b>Role</b></label>
                                <select multiple
                                        class="form-control col-12"
                                        size="2"
                                        id="delete-roles"
                                        name="roles"
                                        disabled>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button"
                                        class="btn btn-secondary"
                                        id="deleteClose"
                                        data-dismiss="modal">
                                    Close
                                </button>
                                <input type="submit"
                                       class="btn btn-danger"
                                       value="Delete">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<script>
    $(document).ready(function () {
        // Функция для заполнения данных
        function fillData(email, roles) {
            $('#shapka').text(email);
            $('#kepka').text(roles.map(role => role.roleName).join(', '));
        }

        // AJAX-запрос для получения данных
        $.ajax({
            url: '/api/admin/current', // Убедитесь, что URL корректен
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                fillData(data.email, data.roles);
            }
        });
    });
</script>
<script type="text/javascript">
    async function getUserById(id) {
        let response = await fetch("/api/admin/" + id);
        return await response.json();
    }
    async function open_fill_modal(form, modal, id) {
        modal.show();
        let user = await getUserById(id);
        form.id.value = user.id;
        form.name.value = user.firstName;
        form.surname.value = user.lastName;
        form.email.value = user.email;
        form.password.value = user.password;
        form.age.value = user.age;

        // Очистка и заполнение списка ролей
        let rolesSelect = form.roles;
        rolesSelect.innerHTML = ''; // Очищаем список перед заполнением


        $(document).ready(function () {
            const allRoles = []
            $.getJSON("api/admin/roles", function (data) {
                data.forEach(role => {
                    const formattedRole = {
                        id: role.id,
                        role: role.roleName
                    };
                    allRoles.push(formattedRole);
                });
                allRoles.forEach(role => {
                    let option = document.createElement('option');
                    option.value = role.id;
                    option.textContent = role.role;
                    if (user.roles.some(userRole => userRole.role === role.role)) {
                        option.selected = true;
                    }
                    rolesSelect.appendChild(option);
                });
            });
        });


    }

    $(document).ready(function () {
        let tableBody = $("#pechka");

        let formDelete = document.forms["formDelete"]
        deleteUser();

        async function deleteModal(id) {
            const modalDelete = new bootstrap.Modal(document.querySelector('#deleteModal'));
            await open_fill_modal(formDelete, modalDelete, id);
        }

        function deleteUser() {
            formDelete.addEventListener("submit", ev => {
                ev.preventDefault();

                let rolesForDelete = [];
                for (let i = 0; i < formDelete.roles.options.length; i++) {
                    if (formDelete.roles.options[i].selected) rolesForDelete.push({
                        id: formDelete.roles.options[i].value,
                        role: "ROLE_" + formDelete.roles.options[i].text
                    });
                }

                fetch("http://localhost:8080/api/admin/" + formDelete.id.value, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        id: formDelete.id.value,
                        firstName: formDelete.name.value,
                        lastName: formDelete.surname.value,
                        email: formDelete.email.value,
                        password: formDelete.password.value,
                        age: formDelete.age.value,
                        roles: rolesForDelete
                    })
                }).then(() => {
                    $('#deleteClose').click();
                    getAllUsers();
                });
            });
        }

        let formEdit = document.forms["formEdit"];
        editUser();

        async function editModal(id) {
            const modalEdit = new bootstrap.Modal(document.querySelector('#editModal'));
             await open_fill_modal(formEdit, modalEdit, id);
        }

        function editUser() {
            formEdit.addEventListener("submit", ev => {
                ev.preventDefault();

                let rolesForEdit = [];
                for (let i = 0; i < formEdit.roles.options.length; i++) {
                    if (formEdit.roles.options[i].selected) {
                        rolesForEdit.push({
                            id: formEdit.roles.options[i].value,
                            role: "ROLE_" + formEdit.roles.options[i].text
                        });
                    }
                }

                // Проверяем, изменился ли пароль
                let password = formEdit.password.value.trim(); // Получаем значение пароля и убираем лишние пробелы
                let requestBody = {
                    id: formEdit.id.value,
                    firstName: formEdit.name.value,
                    lastName: formEdit.surname.value,
                    age: formEdit.age.value,
                    email: formEdit.email.value,
                    roles: rolesForEdit
                };

                // Добавляем пароль в тело запроса, если он изменился
                if (password !== "") {
                    requestBody.password = password;
                }

                fetch("/api/admin/" + formEdit.id.value, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestBody)
                }).then(() => {
                    $('#editClose').click();
                    getAllUsers();
                });
            });
        }



        const getAllUsers = () => {
            $.getJSON("api/admin", function (data) {
                tableBody.empty()
                data.forEach(user => {
                    let row = $("<tr />");
                    $("<td />").text(user.id).appendTo(row);
                    $("<td />").text(user.firstName).appendTo(row);
                    $("<td />").text(user.lastName).appendTo(row);
                    $("<td />").text(user.age).appendTo(row);
                    $("<td />").text(user.email).appendTo(row);
                    let roles = user.roles.map(function (role) {
                        return role.roleName;
                    }).join(", ");
                    $("<td />").text(roles).appendTo(row);

                    let editButton = $("<button class='btn btn-info' style='background-color: #0b9595; color: #fff'>Edit</button>").click(function(){
                        editModal(user.id);
                    });
                    let deleteButton = $("<button class='btn btn-danger'>Delete</button>").click(function(){
                        deleteModal(user.id);
                    });

                    $("<td />").append(editButton).appendTo(row);
                    $("<td />").append(deleteButton).appendTo(row);
                    tableBody.append("");
                    tableBody.append(row);
                });
            });
        }
        getAllUsers()
    });
    // class="btn btn-info"
    // style="background-color: #0b9595; color: #fff"
</script>
<script type="text/javascript">
</script>
</html>