<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User for Admin</title>
</head>
<style>
    form {
        display: inline;
        margin: 0;
        padding: 0;
    }
</style>
<body>
<h1>Admin -- profile(<a th:text="${user.getId()}"></a>)</h1>
<hr/>
Nickname: <a th:text="${user.getUsername()}"></a><br>
Age: <a th:text="${user.getAge()}"></a><br>
Email: <a th:text="${user.getEmail()}"></a>
<br>
<br>
<form th:method="POST" th:action="@{/admin/edit(username=${user.getUsername()})}">
    <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/admin/delete(username=${user.username})}">
    <input type="submit" value="Delete"/>
</form>
<br>
<br>
<a href="/admin">BACK TO ADMIN ACTIONS</a>
<hr/>
<a href="/logout">LOGOUT</a>
</body>
</html>